* {
    border: none !important;
    color: #ccc;
    border-radius: 0 !important;
}
a, legend { 
    color:  mediumaquamarine !important; 
}
.PageHeader\/header\/1IhlM { 
    background: #101318;
}
.SeriesSearchInput\/wrapper\/1v_a3 { 
    font-size: 120%; opacity: 0.5
}
.PageSidebarItem\/isActiveItem\/bUesh {
    border: none;
    background: #20232f;
}
.OverlayScroller\/thumb\/1Lhfi {
    border-radius: 0;
    background: #20232f;
}
.PageSidebarItem\/item\/2zy7a {
    border: none;
}
.PageSidebarItem\/link\/TuHn2 {
    padding: 10px 30px;
}
.PageSidebarItem\/isActiveLink\/1Hupc {
    color: slategray;
}
.PageHeader\/logo\/2y8vm {
    margin-left: 10px;
}
body, html {
    background: #30323f; 
}
.PageToolbar\/toolbar\/1Lo1N {
    background: #20232f;
    font-size: 16px !important;
    height: 80px;
}
PageToolbarButton\/labelContainer\/1XS0i {
    line-height: 18px;
}
.PageToolbarButton\/label\/10YbS { 
    font-size: 13px;
}
.svg-inline--fa { 
    display: inline-block; 
}
.ProgressBar\/primary\/3YDfb {
    background: teal !important;
}
.ProgressBar\/small\/NLk8f { 
    height: 12px; 
}
.SeriesIndexPoster\/title\/263Pq,
.SeriesIndexPoster\/nextAiring\/1FZy6 {
    background: none;
    font-size: 14px;
    color: #ccc;
    padding: 0;
}
.Label\/outline\/1Lb0m {
    background: #000 !important;
}
.PageJumpBarItem\/jumpBarItem\/3F58I {
    border: none;
    color: #999;
}
.ToolbarMenuButton\/menuButton\/zJT-y {
    margin-top: 10px;
    width: auto;
}
.PageToolbarSection\/section\/2viCM {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
}
.PageToolbarSection\/sectionContainer\/5SSN6 {
    flex: 1 1;
}
.PageToolbarSeparator\/separator\/2Aqbm {
    display: none;
}
.PageToolbar\/toolbar\/1Lo1N {
    height: auto;
    padding: 10px;
}
.PageToolbarButton\/toolbarButton\/QiQEt {
    width: auto;
}
.PageToolbarButton\/label\/10YbS {
    line-height: 18px;
    white-space: nowrap;
}
.ModalContent\/modalContent\/-txrl {
    background: #28282f;
    color: #ddd;
}
.ModalFooter\/modalFooter\/1N5Ku,
.ModalHeader\/modalHeader\/gpcvG {
    border-color: #333;
}
.EnhancedSelectInput\/options\/3yy65,
input, textarea, button {
    background-color: #30333a !important;
    border-color: #000 !important;
    color: #ddd !important;
}
button {
    background-color: transparent !important;
    color: #ddd !important;
}
.EnhancedSelectInputOption\/isSelected\/1mRo2 {
    background: darkslategrey;
}
.EnhancedSelectInputOption\/option\/iwTsL:hover {
    background: teal;
}
.SeriesIndexOverview\/info\/Mc4PI {
   padding: 0 0 0 2rem;
}
.SeriesIndexOverview\/content\/3GKJk,
.SeriesIndexOverview\/content\/3GKJk a {
    color: #ddd !important;
}
SeriesIndexOverview\/container\/4LMzH:hover,
.SeriesIndexOverview\/content\/3GKJk:hover,
SeriesIndexOverview\/container\/4LMzH:hover,
.SeriesIndexOverview\/content\/3GKJk {
    background: none !important;
    color: #ddd !important;
}
.ProgressBar\/container\/14z4A,
.VirtualTableRow\/row\/2-JS9:hover,
.TableRow\/row\/33xJE:hover {
    background-color: #202329;
}
.ProgressBar\/medium\/VmdqG,
.ProgressBar\/medium\/VmdqG .ProgressBar\/backText\/1FD8T, .ProgressBar\/medium\/VmdqG .ProgressBar\/frontText\/35PE6 {
    height: 22px;
}
.SeriesIndexFooter\/legendItem\/1S7Rj {
    line-height: 20px !important;
}
.SeriesIndexFooter\/footer\/14Z0o { 
    padding-left: 10px;
}
.VirtualTableHeader\/header\/3rf0m {
    background: #20222a;
}
.CalendarEvent\/downloaded\/2vSrJ,
.CalendarEvent\/missing\/1y6vZ,
.CalendarEvent\/unmonitored\/Zvc-m {
    background: teal;
    padding: 10px
}
.CalendarEvent\/missing\/1y6vZ {
    background: chocolate;
}
.CalendarEvent\/unmonitored\/Zvc-m {
    background: black;
}
.CalendarEvent\/seriesTitle\/3sg1o,
.CalendarEvent\/airTime\/3Wzho{
    color: #fff !important;
}
.DayOfWeek\/dayOfWeek\/1iw4D {
    background: #20232a;
    padding: 6px;
}
.Label\/default\/2AF1C {
    background-color: transparent;
    opacity: 0.8;
}
.SeriesDetails\/path\/2ZNTp, 
.SeriesDetails\/sizeOnDisk\/lBjcr, 
.SeriesDetails\/qualityProfileName\/60zwg, 
.SeriesDetails\/network\/2Ry-k, 
.SeriesDetails\/links\/2sHA9, 
.SeriesDetails\/tags\/2iq76 {
    font-size: 13px;
}
.SeriesDetails\/detailsLabel\/1L4Oi {
    margin: 0;
}
.SeriesDetails\/overview\/TFGN_ {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #555 !important;
}
.SeriesDetails\/details\/gw2sL {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #555 !important;
}
.SeriesDetailsSeason\/season\/3XIYa {
    background: none;
    padding-top: 10px;
    margin-top: 0;
    border-top: solid 1px #666 !important;
}
.Label\/success\/1pfcC,
.SeriesDetailsSeason\/collapseButtonContainer\/trs6s {
    background-color: teal;
}
.Label\/danger\/1NOw3, 
.Label\/success\/1pfcC {
    padding: 10px;
}
.Label\/danger\/1NOw3 {
    background: chocolate ;
}
.Label\/small\/3DzJB {
    border-radius: 2px !important;
    padding: 8px 10px;
}
.Settings\/summary\/3KPAv {
    color: #fff;
}
.EnhancedSelectInput\/enhancedSelect\/MfnzY { 
    border: solid 1px #555 !important; 
}
.QualityProfiles\/center\/1iiKm,
.Card\/card\/1iGZk {
    box-shadow: none !important;
    background: #222 !important;
    color: #eee !important;
}
.PageSidebar\/sidebar\/3IOcI {
    margin-right: -15px !important;
}
.SeriesIndexPoster\/nextAiring\/1FZy6 {
    color: orange;
}

.SeriesIndexFooter\/continuing\/84F2g {
    background-color: teal;
}
.ProgressBar\/success\/14T8R,
.SeriesIndexFooter\/ended\/HYrLQ {
    background-color: darkolivegreen;
}

.SelectInput\/select\/1qCdc {
    background-color: #222;
}
.Input\/input\/2YWzR,
.CheckInput\/input\/283j3 {
    background-color: #333;
}
.Button\/button\/2PYOE {
    border: solid 1px #555 !important;
}
.AddNewSeries\/searchIconContainer\/3QAm8,
.Indexers\/center\/11Csq,
.DownloadClients\/center\/FvACx {
    background-color: transparent;
}
a.AddNewSeriesSearchResult\/searchResult\/xR8dj {
    background-color: #202229 !important;
}
.ToolbarMenuButton\/menuButton\/zJT-y {
    margin-top: 0;
}
.SeriesIndexOverviewInfo\/infos\/aUX5j {
    display: flex;
    flex-direction: row;
    margin-left: -5px;
    margin-top: 8px;
    padding-top: 8px;
    border-top: solid 1px #666 !important;
}
.SeriesIndexOverview\/details\/2mi3u {
    display: block;
}
.SeriesIndexOverviewInfoRow\/infoRow\/9PWaT {
    flex: none;
    margin-right: 10px;
}
.Tooltip\/tooltip\/3HJXy.Tooltip\/default\/2NTKh,
.Popover\/title\/326tA {
    background: black !important;
}
.PageToolbar\/toolbar\/1Lo1N {
    border-bottom: solid 1px #000 !important;
    box-shadow: 0px 0 10px 0 rgba(0,0,0,0.5);
}
